# Hide system files
.DS_Store

# Hide PHPStorm project files
.idea

# Hide sublime project files
*.sublime-project
*.sublime-workspace

# Hide vagrant folder
.vagrant

# Ignore custom config file
/config.yaml

# Keep sites folder, but not any files inside
www/*
!www/.gitkeep